*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
Dockerfile linguist-vendored
Dockerfile.* linguist-vendored
*.sh eol=lf
*.js eol=lf
*.vue eol=lf
*.cjs eol=lf
*.ps1 linguist-vendored
